body {
    min-height: 100vh;
    background: linear-gradient(195deg, #ff00c3, #d123ba, #a42dab, #7b2f97, #552b80, #342465, #181a48, #050b2b);
}

.app-wrapper {
        display: flex;
        max-width: 100%;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
}

section.cropper-tool {
    padding: 16px;
    margin: 10px;
    background: #ffffff;
    border-radius: 6px;
    /* max-width: 800px; */
    min-width: 550px;
    flex-shrink: 4;
}

section.cropper-tool.grabbing {
    cursor: grabbing !important;
}

section.cropper-tool.grabbing .cropper-tool__thumbnails {
    pointer-events: none;
}

.cropper-tool__thumbnails {
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom:6px;
    user-select: none;
}

.cropper-tool__thumbnails img {
    width: fit-content;
    transform: translateX(-25%);
}

.cropper-tool__thumbnails span {
    overflow: hidden;
    width: 150px;
    cursor: pointer;
    filter: brightness(0.6);
}

.cropper-tool__thumbnails span.selected {
    outline: 5px solid #83838382;
    outline-offset: 3px;
    outline-style: dashed;
    filter: brightness(1);
}

.cropper-tool__thumbnails span, .cropper-tool__thumbnails img  {
    height: 150px;
    display: inline-block;
    background: #979797;
}

/* .cropper-tool__thumbnails span:nth-of-type(1) {
    background: #87836c;
} */

.cropper-tool canvas {
    max-width:100%;
    width:800px;
    display:block;
    background-color:#979797;
}

.quality-form {
    margin-bottom: 5px;
}

.save-button {
    display: block;
    margin-bottom: 10px;
}
section.preview {
    /* min-width: 800px; */
    flex-shrink:0;
    max-width: fit-content;
    padding: 0 17px 17px 17px;
    background: #ffffff;
    margin: 5px;
    border-radius: 6px;
    color: #2e2b2b;
    user-select: none;
}

.preview img {
    max-width:100%;
    /* min-width:800px; */
}

.preview__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 4px 3px 6px 0;
    margin:5px;
    gap:5px;
}

.preview__header h2{
    font-size: 20px;
}

.preview__header .quality-form input {
    vertical-align: bottom;
}

.preview__header .quality-form output {
    display: inline-block;
    width: 39px;
}

.preview__header .filesize-text span {
    display: inline-block;
    min-width: 67px;
}

.hidden {
    display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1410px) {
    .app-wrapper {
        flex-wrap: wrap;
    }
}